<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/nav") %> <%- include("partials/category") %> <%-
    include("partials/carousel") %>
    <section class="container">
      <h5
        class="grey-text text-lighten-1 center-align scrollspy"
        id="heavymeals"
      >
        HEAVY MEAL
      </h5>
      <div class="row">
        <% menus.forEach(menu=>{ if(menu.menuCategory === "1"){%>
        <div class="col m3 s10 offset-s1">
          <a href="/<%=menu._id%>">
            <div class="card">
              <div class="card-image menu-card-image">
                <img src="<%=menu.menuImage%>" />
                <a
                  href="/cart"
                  class="btn-floating halfway-fab waves-effect waves-light green darken-2"
                  ><i class="material-icons">add</i></a
                >
              </div>
              <div class="card-content">
                <span class="card-title truncate"><%=menu.menuName%></span>
                <p><%=menu.menuPrice%></p>
                <p class="truncate">
                  <%=menu.menuDesc%>
                </p>
              </div>
            </div>
          </a>
        </div>
        <% }})%>
      </div>
      <h5
        class="grey-text text-lighten-1 center-align scrollspy"
        id="lightmeals"
      >
        LIGHT MEAL
      </h5>
      <div class="row">
        <% menus.forEach(menu=>{ if(menu.menuCategory === "2"){%>
        <div class="col m3 s10 offset-s1">
          <a href="/<%=menu._id%>">
            <div class="card">
              <div class="card-image menu-card-image">
                <img src="<%=menu.menuImage%>" />
                <a
                  href="/cart"
                  class="btn-floating halfway-fab waves-effect waves-light green darken-2"
                  ><i class="material-icons">add</i></a
                >
              </div>
              <div class="card-content">
                <span class="card-title truncate"><%=menu.menuName%></span>
                <p><%=menu.menuPrice%></p>
                <p class="truncate">
                  <%=menu.menuDesc%>
                </p>
              </div>
            </div>
          </a>
        </div>
        <% }})%>
      </div>
      <h5 class="grey-text text-lighten-1 center-align scrollspy" id="veggie">
        VEGGIE BASED
      </h5>
      <div class="row">
        <% menus.forEach(menu=>{ if(menu.menuCategory === "3"){%>
        <div class="col m3 s10 offset-s1">
          <a href="/<%=menu._id%>">
            <div class="card">
              <div class="card-image menu-card-image">
                <img src="<%=menu.menuImage%>" />
                <a
                  href="/cart"
                  class="btn-floating halfway-fab waves-effect waves-light green darken-2"
                  ><i class="material-icons">add</i></a
                >
              </div>
              <div class="card-content">
                <span class="card-title truncate"><%=menu.menuName%></span>
                <p><%=menu.menuPrice%></p>
                <p class="truncate">
                  <%=menu.menuDesc%>
                </p>
              </div>
            </div>
          </a>
        </div>
        <% }})%>
      </div>
      <h5 class="grey-text text-lighten-1 center-align scrollspy" id="meat">
        MEAT BASED
      </h5>
      <div class="row">
        <% menus.forEach(menu=>{ if(menu.menuCategory === "4"){%>
        <div class="col m3 s10 offset-s1">
          <a href="/<%=menu._id%>">
            <div class="card">
              <div class="card-image menu-card-image">
                <img src="<%=menu.menuImage%>" />
                <a
                  href="/cart"
                  class="btn-floating halfway-fab waves-effect waves-light green darken-2"
                  ><i class="material-icons">add</i></a
                >
              </div>
              <div class="card-content">
                <span class="card-title truncate"><%=menu.menuName%></span>
                <p><%=menu.menuPrice%></p>
                <p class="truncate">
                  <%=menu.menuDesc%>
                </p>
              </div>
            </div>
          </a>
        </div>
        <% }})%>
      </div>
      <h5 class="grey-text text-lighten-1 center-align scrollspy" id="sides">
        SIDES
      </h5>
      <div class="row">
        <% menus.forEach(menu=>{ if(menu.menuCategory === "5"){%>
        <div class="col m3 s10 offset-s1">
          <a href="/<%=menu._id%>">
            <div class="card">
              <div class="card-image menu-card-image">
                <img src="<%=menu.menuImage%>" />
                <a
                  href="/cart"
                  class="btn-floating halfway-fab waves-effect waves-light green darken-2"
                  ><i class="material-icons">add</i></a
                >
              </div>
              <div class="card-content">
                <span class="card-title truncate"><%=menu.menuName%></span>
                <p><%=menu.menuPrice%></p>
                <p class="truncate">
                  <%=menu.menuDesc%>
                </p>
              </div>
            </div>
          </a>
        </div>
        <% }})%>
      </div>
      <section class="scrollspy" id="drinks">
        <h5 class="grey-text text-lighten-1 center-align">
          DRINKS
        </h5>
        <div class="row">
          <% menus.forEach(menu=>{ if(menu.menuCategory === "6"){%>
          <div class="col m3 s10 offset-s1">
            <a href="/<%=menu._id%>">
              <div class="card">
                <div class="card-image menu-card-image">
                  <img src="<%=menu.menuImage%>" />
                  <a
                    href="/cart"
                    class="btn-floating halfway-fab waves-effect waves-light green darken-2"
                    ><i class="material-icons">add</i></a
                  >
                </div>
                <div class="card-content">
                  <span class="card-title truncate"><%=menu.menuName%></span>
                  <p><%=menu.menuPrice%></p>
                  <p class="truncate">
                    <%=menu.menuDesc%>
                  </p>
                </div>
              </div>
            </a>
          </div>
          <% }})%>
        </div>
      </section>
    </section>
    <%- include("partials/jquery") %>
  </body>
</html>
